@media only screen and (max-width: 768px) {
    body,html{
        margin: 0;
        padding: 0;
    }

    header{
        background-image: url(/assets/Group\ 35.svg),url(/assets/mobile-desktop.svg);
        animation: 3s infinite alternate bgchanger;
        background-position: center, center;
        background-repeat: no-repeat, no-repeat;
        background-size: cover, cover;
    }

    @keyframes bgchanger{
        0%{
            background-size: 105%, cover;
        }
        100%{
            background-size: 115%, cover;
        }
    }
    .hidden-bg-stars{
        background-image: url('/assets/Group\ 36.svg');
        animation: 3s infinite alternate bgstarschange;
    }
    @keyframes bgstarschange {

            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        
    }

    nav {
        width: 85%;
        left: 5%;
    }
    nav ul{
        display: none;
    }
    .lines {
        display: inline-block;
        color: white;
        font-size: 40px;
    }

    main {
        min-height: fit-content;
        padding-bottom: 100px;
    }

    main h2 {
        width: 70%;
    }
    main div{
        flex-direction: column;
    }
    main p {
        width: 100%;
    }

    footer {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
    footer div p {
        position: relative;
    }
}